@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    @apply bg-light;
}

.navbar {
    &-link {
        position: relative;
        z-index: 0;
        transition: all 0.8s linear;
        border: 0px;

        :nth-child(1) {
            transition: width 0.8s;
        }
    }

    &-link.active {
        @apply text-main;
        :nth-child(1) {
            width: 100%;
            border-radius: 4px;
        }
    }
}

.amenity-slider {
    &-slide {
        background-image: 
        linear-gradient(to top, rgb(0 0 0/.75) 40%, rgb(0 0 0/0.1) 75%),
        var(--bg-img, url('../public/img/land-1.jpg'));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image;
    }
}

.contact {
    background-image: 
    linear-gradient(rgb(0 0 0/.75), rgb(0 0 0/.55)),
    url('../public/img/land-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about {
    text-shadow: 0px 3px 8px rgb(0 0 0/.5)
}

.social-link {
    filter: drop-shadow(3px 3px 1px rgb(0 0 0/0.3))
}

.barless {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
